html {
  color: $colorDarkPrimary;
  font-weight: normal;
  font-size: 100%;
  font-family: $fontPrimary;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;

  @media only screen and ($laptopsMax) {
    font-size: 95%;
  }

  @media only screen and ($largeTabletsMax) {
    font-size: 93%;
  }

  @media only screen and ($smallTabletsMax) {
    font-size: 88%;
  }

  @media only screen and ($phonesMax) {
    font-size: 86%;
  }
}

h1, .h1 {
  margin: 0 0 23px 0;
  font-size: $size36px;
  font-family: $fontSecondary;
  line-height: 48px;

  @media only screen and ($phonesMax) {
    margin: $step6 0 $step3 0;
  }
}

h2, .h2 {
  margin: $step3 0 14px 0;
  font-size: $size30px;
  font-family: $fontSecondary;
  line-height: 40px;

  @media ($phonesMax) {
    margin: $step2 0 $step1 0;
  }
}

h3, .h3 {
  margin: $step3 0 14px 0;
  font-size: $size24px;
  font-family: $fontSecondary;
  line-height: 32px;

  @media ($phonesMax) {
    margin: $step2 0 $step1 0;
  }
}

h4, .h4 {
  margin: $step3 0 14px 0;
  font-size: $size21px;
  font-family: $fontSecondary;
  line-height: 32px;

  @media ($phonesMax) {
    margin: $step2 0 $step1 0;
  }
}

h5, .h5 {
  margin: $step3 0 14px 0;
  font-size: $size25px;
  font-family: $fontSecondary;
  line-height: 35px;

  @media ($phonesMax) {
    margin: $step2 0 $step1 0;
  }
}

h6, .h6 {
  margin: $step3 0 14px 0;
  font-size: $size18px;
  font-family: $fontSecondary;
  line-height: 24px;

  @media ($phonesMax) {
    margin: $step2 0 $step1 0;
  }
}

strong {
  font-size: $size18px;
  line-height: 24px;
}

small {
  margin: $step2 0;
  font-size: $size14px;
  line-height: 24px;
}

p {
  margin: 14px 0;
  font-size: $size18px;
  line-height: 24px;
  @media ($phonesMax) {
    margin: $step1 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


li {
  font-size: $size18px;
}

a {
  margin: 0;
  padding: 0;
  font-size: $size18px;
}

a, a:active, a:visited {
  text-decoration: none;
  transition: color $transitionDurationPrimary $transitionFunctionPrimary;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
  font-weight: bold;

  &:first-child {
    margin-top: 0;
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.hero_display {
  margin: 0 0 26px 0;
  font-size: $size48px;
  font-family: $fontSecondary;
  line-height: 56px;

  @media ($phonesMax) {
    margin: $step6 0 $step3 0;
  }
}
