:root {
  --dark-primary: #3B4256;

  --light-primary: #F4F7FB;
  --light-secondary: #FFFFFF;
  --light-third: #F5F5F7;

  --blue-primary: #3684E2;
  --blue-secondary: #0061D9;
  --blue-third: #0050B2;

  --yellow-primary:  #FF9500;
  --yellow-secondary:  #FFF5E5;

  --green-primary:  #1BC400;

  --red-primary:  #a94442;

  --transition-duration-primary: 0.2s;
  --transition-duration-secondary: 0.5s;

  --transition-function-primary: ease-in-out;
  --transition-function-secondary: cubic-bezier(.4,0,.2,1);

  --border-radius-primary: 4px;

  --font-primary: GostUI2, Helvetica, sans-serif;
  --font-secondary: SFProDisplay, Arial, sans-serif;
}