$headerHeight: 				    88px;
$headerHeightMobile:           62px;
$containerWidth: 			    1280px;
$paddingWrapperDesktop:		    0 60px;
$paddingWrapperLaptops:		    0 20px;
$paddingWrapperMobile:		    0 12px;
