$headerBottomLine : $colorDarkPrimary;
.header {
  position: relative;
  margin-bottom: 40px;
  padding: 64px 0 38px;

  &__legend {
    padding-top: 16px;

    &-pic {
      display: block;
      max-width: 64px;
      max-height: 64px;
      margin-bottom: 12px;
    }
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background: $headerBottomLine;
    opacity: 0.3;
    content: "";
  }
}