$colorDarkPrimary                 : var(--dark-primary);

$colorLightPrimary                : var(--light-primary);
$colorLightSecondary              : var(--light-secondary);
$colorLightThird                  : var(--light-third);

$colorBluePrimary                 : var(--blue-primary);
$colorBlueSecondary               : var(--blue-secondary);
$colorBlueThird                   : var(--blue-third);

$colorYellowPrimary               : var(--yellow-primary);
$colorYellowSecondary             : var(--yellow-secondary);

$colorGreenPrimary                : var(--green-primary);

$transitionDurationPrimary        : var(--transition-duration-primary);
$transitionDurationSecondary      : var(--transition-duration-secondary);

$transitionFunctionPrimary        : var(--transition-function-primary);
$transitionFunctionSecondary      : var(--transition-function-secondary);

$borderRadiusPrimary              : var(--border-radius-primary);

$fontPrimary                      : var(--font-primary);
$fontSecondary                    : var(--font-secondary);
