$colorDarkPrimary                 : #3B4256;

$colorLightPrimary                : #F4F7FB;
$colorLightSecondary              : #FFFFFF;
$colorLightThird                  : #F5F5F7;

$colorBluePrimary                 : #3684E2;
$colorBlueSecondary               : #0061D9;
$colorBlueThird                   : #0050B2;

$colorYellowPrimary               : #FF9500;
$colorYellowSecondary             : #FFF5E5;

$colorGreenPrimary                : #1BC400;

$colorRedPrimary                  : #a94442;


$transitionDurationPrimary        : 0.2s;
$transitionDurationSecondary      : 0.5s;

$transitionFunctionPrimary        : ease-in-out;
$transitionFunctionSecondary      : cubic-bezier(.4,0,.2,1);

$borderRadiusPrimary              : 4px;

$fontPrimary                      : GostUI2, Helvetica, sans-serif;
$fontSecondary                    : SFProDisplay, Arial, sans-serif;
