.checkbox {

  &-label {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 14px 14px 14px 44px;
    background: $colorLightThird;
    border: 2px solid transparent;
    border-radius: $borderRadiusPrimary;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 20px;
      height: 20px;
      background: #fff;
      border: 2px solid $colorDarkPrimary;
      content: "";
    }

    &_active {
      background: #fff;
      border-color: #0673ff;

      &:before {
        background: url(/../img/service/form/icon-check.svg) center / 12px 10px no-repeat, #0673ff;
        border-color: #0673ff;
        content: "";
      }
    }
  }

  &-input {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  &-name {
    font-weight: 700;
  }
}
