@font-face {
  font-family: 'SFProDisplay';
  src: url('../fonts/SFProDisplay/SFProDisplay-Regular.eot');
  src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('../fonts/SFProDisplay/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SFProDisplay/SFProDisplay-Regular.woff2') format('woff2'),
  url('../fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff'),
  url('../fonts/SFProDisplay/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'GostUI2';
  src: url('../fonts/GostUI2/GostUI2-Regular.eot');
  src: local('Gost UI 2 Regular'), local('GostUI2-Regular'),
  url('../fonts/GostUI2/GostUI2-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GostUI2/GostUI2-Regular.woff2') format('woff2'),
  url('../fonts/GostUI2/GostUI2-Regular.woff') format('woff'),
  url('../fonts/GostUI2/GostUI2-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}