$colorButton                        : $colorLightPrimary;
$backgroundButton                   : $colorBlueSecondary;
$backgroundButtonHover              : $colorBluePrimary;
$borderColorButton                  : $colorBlueSecondary;
$borderColorButtonHover             : $colorBluePrimary;

$colorButtonInverse                 : $colorBlueThird;
$colorButtonInverseHover            : $colorLightPrimary;
$backgroundButtonInverse            : $colorLightPrimary;
$backgroundButtonInverseHover       : $colorBluePrimary;

$backgroundButtonActive             : $colorBlueThird;

.button {
  position: relative;
  display: inline-block;
  min-height: 48px;
  padding: 8px 24px;
  overflow: hidden;
  color: $colorButton;
  font-size: $size18px;
  white-space: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  background: $backgroundButton;
  border: 1px solid $borderColorButton;
  border-radius: $borderRadiusPrimary;
  cursor: pointer;
  transition: color $transitionDurationPrimary $transitionFunctionSecondary,
              background $transitionDurationPrimary $transitionFunctionSecondary,
              border-color, $transitionDurationPrimary $transitionFunctionSecondary;

  &_link {
    line-height: 1.7;
  }

  &:hover {
    background: $backgroundButtonHover;
    border-color: $borderColorButtonHover;
  }

  &_inverse {
    color: $colorButtonInverse;
    background: $backgroundButtonInverse;

    &:hover {
      color: $colorButtonInverseHover;
      background: $backgroundButtonInverseHover;
      border-color: $borderColorButtonHover;
    }
  }

  &:active {
    background: $backgroundButtonActive;
  }
}
