/***************************** refactor this merge with radio *********/

$labelBg : $colorLightThird;
$labelBgBefore : $colorDarkPrimary;
$labelBgActive : $colorLightSecondary;
$labelBorderColor : $colorBlueSecondary;

.checkbox {
  &-icon {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: $colorLightSecondary;
    border: 2px solid $colorDarkPrimary;

    use svg {
      fill: $labelBorderColor;
    }
  }

  &-label {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 14px 14px 14px 46px;
    background: $labelBg;
    border: 2px solid transparent;
    border-radius: $borderRadiusPrimary;
    cursor: pointer;


    &_active {
      background: $labelBgActive;
      border-color: $labelBorderColor;

      .checkbox-icon {
        background: $colorBlueSecondary;
        border-color: $colorBlueSecondary;
      }
    }
  }


  &-input {
    position: absolute;
    left: -9999px;
    opacity: 0;
  }

  &-name {
    font-weight: 700;
  }
}
