@font-face {
  font-family: 'SFProDisplay';
  src: url('/../fonts/SFProDisplay/SFProDisplay-Bold.eot');
  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
  url('/../fonts/SFProDisplay/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
  url('/../fonts/SFProDisplay/SFProDisplay-Bold.woff2') format('woff2'),
  url('/../fonts/SFProDisplay/SFProDisplay-Bold.woff') format('woff'),
  url('/../fonts/SFProDisplay/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GostUI2';
  src: url('/../fonts/GostUI2/GostUI2-Regular.eot');
  src: local('Gost UI 2 Regular'), local('GostUI2-Regular'),
  url('/../fonts/GostUI2/GostUI2-Regular.eot?#iefix') format('embedded-opentype'),
  url('/../fonts/GostUI2/GostUI2-Regular.woff2') format('woff2'),
  url('/../fonts/GostUI2/GostUI2-Regular.woff') format('woff'),
  url('/../fonts/GostUI2/GostUI2-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GostUI2';
  src: url('/../fonts/GostUI2/GostUI2-Bold.eot');
  src: local('Gost UI 2 Bold'), local('GostUI2-Bold'),
  url('/../fonts/GostUI2/GostUI2-Bold.eot?#iefix') format('embedded-opentype'),
  url('/../fonts/GostUI2/GostUI2-Bold.woff2') format('woff2'),
  url('/../fonts/GostUI2/GostUI2-Bold.woff') format('woff'),
  url('/../fonts/GostUI2/GostUI2-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}