$stepBg : $colorLightSecondary;
$stepCounterBg : $colorBlueSecondary;
$stepReadyCounterBg : $colorGreenPrimary;
$stepCounterColor : $colorLightSecondary;

.form {
  counter-reset: steps-counter;

  .step {
    position: relative;
    margin-bottom: 24px;
    padding: 24px 188px 24px 96px;
    background: $stepBg;
    border-radius: $borderRadiusPrimary;
    counter-increment: steps-counter;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      top: 16px;
      left: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      color: $stepCounterColor;
      background: $stepCounterBg;
      border-radius: 50%;
      content: counter(steps-counter);
    }

    &__title {
      margin: 0;
    }

    &__edit {
      position: absolute;
      top: 28px;
      right: 18px;
      display: none;
      padding-left: 26px;
      color: $colorBlueSecondary;
      font-size: 14px;
      cursor: pointer;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 19px;
        height: 19px;
        background: url(../img/service/form/icon-edit.svg) center / 100% no-repeat;
        transform: translateY(-50%);
        content: "";
      }
    }

    &__radio,
    &__checkbox {
      margin-bottom: 16px;
    }

    &__collapse {
      flex-direction: column;
      padding-top: 24px;
    }

    &__group {
      margin-bottom: 16px;

      &-title {
        margin: 8px 0 16px;
      }

      &-caption  {
        margin-top: 8px;
      }

      &-series {
        grid-column: 1/3;
      }

      &-number {
        grid-column: 3/6;
      }

      &-day {
        grid-column: 1/3;
      }

      &-month {
        grid-column: 3/5;
      }

      &-year {
        grid-column: 5/8;
      }

      &-inner {
        display: grid;
        grid-column-gap: 16px;

        &-doc {
          grid-template-columns: repeat(5, 1fr);
        }

        &-date {
          grid-template-columns: repeat(7, 1fr);
        }
      }
    }

    &__input-label {
      display: block;
      margin-bottom: 8px;
    }

    &__list {
      margin-bottom: 24px;
      padding-left: 12px;

      &-caption {
        margin-bottom: 8px;
      }

      &-item  {
        margin-bottom: 8px;
        list-style-type: disc;

        &:last-child {
          margin-bottom: 0;
        }

        &::marker {
          font-size: 12px;
        }
      }
    }

    &__notice {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
      padding: 14px 14px 14px 44px;
      background: $colorYellowSecondary;
      border-radius: $borderRadiusPrimary;

      &:before {
        position: absolute;
        top: 16px;
        left: 16px;
        width: 20px;
        height: 20px;
        background: url(../img/service/form/icon-notice.svg) center / contain no-repeat;
        content: "";
      }
    }

    &_ready {
      &::before {
        background: url(../img/service/form/icon-check.svg) center / 20px no-repeat, $stepReadyCounterBg;
        content: "";
      }

      .step__edit {
        display: block;
      }
    }
  }

  &-success {
    position: relative;
    display: none;
    flex-direction: column;
    padding: 24px 96px;
    background: $stepBg;
    border-radius: $borderRadiusPrimary;
    counter-increment: steps-counter;

    &::before {
      position: absolute;
      top: 16px;
      left: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      color: $stepCounterColor;
      background: url(../img/service/form/icon-check.svg) center / 20px no-repeat, $stepReadyCounterBg;
      border-radius: 50%;
      content: "";
    }

    &__title {

    }

    &__description {
      margin: 0 0 24px;
    }

    &__button-inner {
      display: flex;
    }

    &__button {
      max-width: 50%;
      margin-right: 24px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}